.transition-fade,
.fade,
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.transition-fade,
.fade-active,
.fade-enter-active,
.fade-leave-active {
  opacity: 1;
}

html.is-animating .transition-fade,
.fade-inactive,
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
