.slide-right-fade,
.slide-right-fade-enter-active,
.slide-right-fade-leave-active {
	transition: opacity, transform;
	transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-timing-function);
}

.slide-right-fade-active,
.slide-right-fade-enter-active,
.slide-right-fade-leave-active {
	opacity: 1;
	transform: translateX(0);
}

.slide-right-fade-inactive,
.slide-right-fade-enter,
.slide-right-fade-leave-to {
	opacity: 0;
	transform: translateX(calc(var(--space) * -1));
}

.slide-right-fade-leave-to {
	transform: translateX(calc(var(--space)));
}
