---
import ListItem from './ListItem.astro';

export interface Props {
  large?: boolean;
  items: any[];
}

const { large = false, items = [] } = Astro.props;
---

<div class={`grid ${large ? 'grid--large' : ''}`}>
  {items.map((item, index) => (
    <ListItem key={item.id || item.title} item={item} index={index + 1} />
  ))}
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--grid-gap-y) var(--grid-gap-x);

    /* @media (min-width: 450px) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    @media (min-width: 900px) {
      grid-template-columns: 1fr 1fr;
    } */
  }
</style>
