---
import ListItem from './ListItem.astro';

export interface Props {
  large?: boolean;
  items: any[];
}

const { large = false, items = [] } = Astro.props;
---

<div class={`grid ${large ? 'grid--large' : ''}`}>
  {items.map((item, index) => <ListItem key={item.id || item.title} item={item} index={index + 1} />)}
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(calc(var(--grid-gap-y) * 1), 9vw, calc(var(--grid-gap-y) * 2)) var(--grid-gap-x);
  }
</style>
