.media {
  padding-bottom: 56.25%;
  border: var(--stroke-width) solid var(--stroke-color);
  position: relative;
  overflow: hidden;
  margin-bottom: var(--grid-gap-y);

  picture,
  .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
  }
}
