.media {
  padding-bottom: 56.25%;
  border: var(--stroke-width) solid var(--stroke-color);
  position: relative;
  overflow: hidden;
  margin-bottom: var(--grid-gap-y);
  display: block;

  .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.media--video-overlay::before,
  &.media--video-overlay::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
  }

  &.media--video-overlay::before {
    background: var(--background-color);
    opacity: 0.75;
    z-index: 1;
  }

  &.media--video-overlay::after {
    background-image: url('data:image/svg+xml,<svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 33%;
    z-index: 2;
  }
}
