.nav {
  a {
    white-space: nowrap;

    &.active {
      --link-color: var(link-hover-color);
    }
  }

  &.nav--offCanvas {
    font-size: var(--font-size-3xl);
    font-family: var(--headings-font-family);
    font-weight: var(--fat-font-weight);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    a {
      text-decoration: none;
    }
  }
}
