html {
  font-size: var(--font-size-base);
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding-block-start: calc(var(--space) * 2);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  color: var(--foreground-color);
  background: var(--background-color);
  background-image: linear-gradient(
      180deg,
      oklch(from var(--background-color) l c h / 0) 100dvh,
      var(--background-color) 125dvh
    ),
    var(--background-image);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0;
  background-size: auto 125dvh;
  margin: 0;
  padding: 0;
  line-height: var(--line-height);
}

svg {
  width: calc(var(--space) * 1.5);
  height: calc(var(--space) * 1.5);
  fill: currentcolor;
}

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 0.5);
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: var(--font-size-xs);
  color: var(--text-color-light);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
