/**
 * Type reset
 */

ul,
ol,
p,
address,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  margin-bottom: var(--space);
  page-break-inside: avoid;
  break-inside: avoid;
}

/**
 * Headings
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-block: var(--headings-margin-block-start) var(--headings-margin-block-end);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  line-height: var(--line-height-xs);
  letter-spacing: var(--headings-letter-spacing);
  text-wrap: balance;
}

h1,
.h1 {
  font-size: var(--font-size-5xl);
}

h2,
.h2 {
  font-size: var(--font-size-4xl);
}

h3,
.h3 {
  font-size: var(--font-size-2xl);
}

h4,
.h4 {
  font-size: var(--font-size-xl);
}

h5,
.h5 {
  font-size: var(--font-size-lg);
}

h6,
.h6 {
  font-size: var(--font-size-base);
}

/**
 * Display
 */
.display-1 {
  font-family: var(--display-font-family);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.825;
  letter-spacing: 0;
}

/**
 * Lists
 */

.list-unstyled {
  list-style: none;
  padding: 0;
}

.whitespace-nowrap {
  white-space: nowrap;
}

/**
 * Code
 */
code {
  padding: 0.25em 0.33em;
  margin: -0.25em 0;
  font-weight: 600;
  background-color: oklch(from var(--background-color) 90% c h);
  color: oklch(from var(--foreground-color) 10% c h);
  border-radius: .25em;
}

pre {
  padding: calc(var(--grid-gap-y) / 1.5) var(--grid-gap-x);
  border-radius: 0;
  margin-block: var(--space);

  code {
    background-color: transparent;
  }

  &,
  [class*='language-'] {
    font-size: var(--font-size-sm);
    line-height: 2em;
  }
}

hr {
  border: 0 solid var(--stroke-color);
  border-top-width: 1px;
  margin-block: var(--space);
}

/**
 * Long form
 */
.long-form {
  line-height: var(--line-height-lg);
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  :is(h1, h2, h3, h4, h5, h6) {
    margin-block-start: calc(var(--space) * 2);

    ~ hr {
      margin-block-start: calc(var(--space) * 2);
    }
  }

  * {
    margin-block:  0;
  }

  pre {
    margin-inline: calc((var(--grid-gap-x) / -1) - 2px);
    border: var(--stroke-width) solid var(--stroke-color);
  }

  iframe {
    margin-block: var(--grid-gap-y);
  }

  figure {
    /* margin-block: var(--grid-gap-y); */

    iframe {
      margin-block: 0;
    }
  }

  li :is(p, ul, ol) {
    margin-block: 0;
  }

  figcaption {
    text-align: left;
  }
}
