ul,
ol,
p,
address,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  margin-bottom: var(--space);
  page-break-inside: avoid;
  break-inside: avoid;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-block-start: var(--headings-margin-block-start);
  margin-block-end: var(--headings-margin-block-end);
  font-weight: var(--headings-font-weight);
  line-height: var(--line-height-sm);
  letter-spacing: var(--headings-letter-spacing);
}

h1,
.h1 {
  font-size: var(--font-size-3xl);
}

h2,
.h2 {
  font-size: var(--font-size-2xl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

h5,
.h5 {
  font-size: var(--font-size-base);
}

h6,
.h6 {
  font-size: var(--font-size-base);
}

.outline {
  color: var(--stroke-inner-color);
  -webkit-text-stroke: var(--stroke-width) var(--stroke-color);
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.whitespace-nowrap {
  white-space: nowrap;
}

pre[class*='language-'] {
  padding: var(--space);
  border-radius: 0;
}

code,
pre {
  &,
  [class*='language-'] {
    font-family: var(--mono-font-family);
    font-weight: 500;
    font-size: var(--font-size-sm);
    line-height: 1.75em;
  }
}

hr {
  border: 0 solid var(--grey-300);
  border-top-width: 1px;
  margin-block: var(--space);
}

.long-form {
  --headings-margin-block-start: calc(var(--space) * 2);

  p + hr {
    margin-block-start: calc(var(--space) * 2);
  }
}
