ul,
ol,
p,
address,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  margin-bottom: var(--space);
  page-break-inside: avoid;
  break-inside: avoid;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-block-start: var(--headings-margin-block-start);
  margin-block-end: var(--headings-margin-block-end);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  line-height: var(--line-height-sm);
  letter-spacing: var(--headings-letter-spacing);
  text-wrap: balance;
}

h1,
.h1 {
  font-size: var(--font-size-5xl);
}

h2,
.h2 {
  font-size: var(--font-size-4xl);
}

h3,
.h3 {
  font-size: var(--font-size-2xl);
}

h4,
.h4 {
  font-size: var(--font-size-xl);
}

h5,
.h5 {
  font-size: var(--font-size-lg);
}

h6,
.h6 {
  font-size: var(--font-size-base);
}

.outline {
  color: var(--stroke-inner-color);
  -webkit-text-stroke: var(--stroke-width) var(--stroke-color);
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.whitespace-nowrap {
  white-space: nowrap;
}

code {
  padding: 0.25em 0.33em;
  margin: -0.25em 0;
  font-weight: 600;
  background-color: var(--grey-200);
}

pre {
  padding: calc(var(--grid-gap-y) / 1.5) var(--grid-gap-x);
  border-radius: 0;
  margin-block: var(--space);

  code {
    background-color: transparent;
  }

  &,
  [class*='language-'] {
    font-size: 0.875em;
    line-height: 2em;
  }
}

hr {
  border: 0 solid var(--dark);
  border-top-width: 1px;
  margin-block: var(--space);
}

.long-form {
  *:not(:where(h1, h2, h3, h4, h5, h6) + :where(h1, h2, h3, h4, h5, h6)) {
    --headings-margin-block-start: calc(var(--space) * 3);
  }

  hr {
    margin-inline: 0;

  @nest p + & {
    margin-block-start: calc(var(--space) * 3);
  }
  }

  pre {
    margin-inline: calc((var(--grid-gap-x) / -1) - 2px);
    border: 1px solid var(--grey);
  }

  iframe {
    margin-block: var(--grid-gap-y);
  }

  figure {
    margin-block: var(--grid-gap-y);

    iframe {
      margin-block: 0;
    }
  }

  li :is(p, ul, ol) {
    margin-block: 0;
  }

  figcaption {
    text-align: left;
  }
}
