:root {
  /**
  * Colors
  */
  --dark: oklch(0% 0 1deg);
  --light: oklch(100% 0 0deg);

  /* Light Theme */
  --foreground-color: var(--dark);
  --background-color: var(--light);
  --background-image: url('https://res.cloudinary.com/mrtnvh/image/upload/f_auto,q_auto/e_unsharp_mask:500/e_brightness:-70/e_negate/t_noise/mrtnvh.com/qkyp7kk442gn5xvn7w0h.jpg');
  --astro-code-color-text: var(--foreground-color);
  --astro-code-color-background: var(--background-color);
  --astro-code-token-constant: rgb(5, 80, 174);
  --astro-code-token-string: rgb(10, 48, 105);
  --astro-code-token-comment: rgb(106, 114, 124);
  --astro-code-token-keyword: rgb(207, 34, 46);
  --astro-code-token-parameter: rgb(17, 99, 41);
  --astro-code-token-function: rgb(130, 80, 223);
  --astro-code-token-string-expression: rgb(10, 48, 105);
  --astro-code-token-punctuation: rgb(33, 33, 33);
  --astro-code-token-link: rgb(10, 48, 105);

  /**
  * Dimensions
  */

  /* Steps */

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1280,21,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7901rem, 0.7735rem + 0.0831vw, 0.84rem);
  --step--1: clamp(0.8889rem, 0.8352rem + 0.2685vw, 1.05rem);
  --step-0: clamp(1rem, 0.8958rem + 0.5208vw, 1.3125rem);
  --step-1: clamp(1.125rem, 0.9531rem + 0.8594vw, 1.6406rem);
  --step-2: clamp(1.2656rem, 1.0039rem + 1.3086vw, 2.0508rem);
  --step-3: clamp(1.4238rem, 1.0439rem + 1.8994vw, 2.5635rem);
  --step-4: clamp(1.6018rem, 1.0676rem + 2.6709vw, 3.2043rem);
  --step-5: clamp(1.802rem, 1.0676rem + 3.6723vw, 4.0054rem);
  --step-6: clamp(2.0273rem, 1.0341rem + 4.9658vw, 5.0068rem);
  --step-7: clamp(2.2807rem, 0.9548rem + 6.6297vw, 6.2585rem);

  /* Max size */
  --layout-max-inline-size: 90rem;

  /**
  * Fonts
  */

  /* Font sizes */
  --font-size-xs: var(--step--2);
  --font-size-sm: var(--step--1);
  --font-size-base: var(--step-0);
  --font-size-lg: var(--step-1);
  --font-size-xl: var(--step-2);
  --font-size-2xl: var(--step-3);
  --font-size-3xl: var(--step-4);
  --font-size-4xl: var(--step-5);
  --font-size-5xl: var(--step-6);
  --font-size-7xl: var(--step-7);
  --font-family-base: 'Space Grotesk Variable', helvetica, system-ui;
  --font-weight-normal: 400;

  /* Line height */
  --line-height-lg: 1.953;
  --line-height: 1.563;
  --line-height-sm: 1.25;
  --line-height-xs: 1.125;
  --line-height-xxs: 0.8;

  /* Headings */
  --headings-font-family: var(--font-family-base);
  --headings-color: var(--foreground-color);
  --headings-font-weight: 700;
  --headings-letter-spacing: -0.05em;
  --headings-margin-block-start: 0;
  --headings-margin-block-end: var(--space);

  /* Display */
  --display-font-family: humane, 'Space Grotesk Variable', helvetica, system-ui;

  /* Code */
  --mono-font-family: 'Monospace Argon', 'Courier New', monospace;

  /**
  * Strokes
  */
  --stroke-inner-color: transparent;
  --stroke-width: 1px;
  --stroke-color: oklch(from var(--foreground-color) l c h / 0.25);

  /**
  * Animations
  */
  --animation-duration: 0.2s;
  --animation-timing-function: cubic-bezier(0.33, 0, 0.66, 1);

  /**
  * Spacing
  */
  --space: 1.563rem;
  --grid-gap-x: clamp(var(--space), 3.5vw, var(--space) * 2);
  --grid-gap-y: calc(var(--space) * 2);

  /**
  * Table
  */
  --table-border-color: var(--stroke-color);
  --table-border-width: 1px;

  /**
  * Detail page
  */
  --detail-title-size: clamp(3.2475rem, -0.6533rem + 19.5042vw, 14.95rem);
  --detail-title-font-family: var(--display-font-family);

  /* Dark Theme */
  @media (prefers-color-scheme: dark) {
    --foreground-color: var(--light);
    --background-color: var(--dark);
    --background-image: url('https://res.cloudinary.com/mrtnvh/image/upload/f_auto,q_auto/e_unsharp_mask:500/e_brightness:-70/t_noise/mrtnvh.com/qkyp7kk442gn5xvn7w0h.jpg');
    --astro-code-token-constant: rgb(121, 192, 255);
    --astro-code-token-string: rgb(165, 214, 255);
    --astro-code-token-comment: rgb(139, 148, 158);
    --astro-code-token-keyword: rgb(255, 123, 114);
    --astro-code-token-parameter: rgb(126, 231, 135);
    --astro-code-token-function: rgb(210, 168, 255);
    --astro-code-token-string-expression: rgb(165, 214, 255);
    --astro-code-token-punctuation: rgb(33, 33, 33);
    --astro-code-token-link: rgb(165, 214, 255);
  }
}
