:root {
  /**
  * Colors
  */
  --dark: hsl(24deg, 9%, 10%);
  --grey: hsl(25deg, 5%, 42%);
  --grey-300: hsl(24deg, 9%, 85%);
  --grey-200: hsl(24deg, 9%, 90%);
  --grey-100: hsl(24deg, 9%, 95%);
  --light: hsl(60deg, 9%, 97%);
  --primary: hsl(82deg, 78%, 55%);
  --primary-dark: hsl(85deg, 78%, 27%);
  --github: hsla(134deg, 62%, 51%, 1);
  --mastodon: rgb(48, 136, 212);
  --linkedin: hsla(201deg, 100%, 36%, 1);
  --youtube: hsl(0deg, 100%, 50%);
  --isaac: hsl(197deg, 100%, 50%);
  --text-color: var(--dark);
  --background-color: var(--light);

  /* Light Theme */
  --astro-code-color-text: var(--text-color);
  --astro-code-color-background: var(--background-color);
  --astro-code-token-constant: rgb(5, 80, 174);
  --astro-code-token-string: rgb(10, 48, 105);
  --astro-code-token-comment: rgb(106, 114, 124);
  --astro-code-token-keyword: rgb(207, 34, 46);
  --astro-code-token-parameter: rgb(17, 99, 41);
  --astro-code-token-function: rgb(130, 80, 223);
  --astro-code-token-string-expression: rgb(10, 48, 105);
  --astro-code-token-punctuation: rgb(33, 33, 33);
  --astro-code-token-link: rgb(10, 48, 105);

  /**
  * Fonts
  */

  /* Steps */

  /* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1280,20,1.25,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.61rem, calc(0.56rem + 0.22vw), 0.72rem);
  --step--1: clamp(0.73rem, calc(0.66rem + 0.33vw), 0.9rem);
  --step-0: clamp(0.88rem, calc(0.78rem + 0.48vw), 1.13rem);
  --step-1: clamp(1.05rem, calc(0.91rem + 0.68vw), 1.41rem);
  --step-2: clamp(1.26rem, calc(1.07rem + 0.95vw), 1.76rem);
  --step-3: clamp(1.51rem, calc(1.25rem + 1.31vw), 2.2rem);
  --step-4: clamp(1.81rem, calc(1.46rem + 1.78vw), 2.75rem);
  --step-5: clamp(2.18rem, calc(1.7rem + 2.4vw), 3.43rem);
  --step-6: clamp(2.61rem, calc(1.97rem + 3.21vw), 4.29rem);
  --step-7: clamp(3.14rem, calc(2.28rem + 4.27vw), 5.36rem);
  --step-8: clamp(3.76rem, calc(2.64rem + 5.63vw), 6.71rem);
  --step-9: clamp(4.51rem, calc(3.03rem + 7.4vw), 8.38rem);

  /* Font sizes */
  --font-size-root: clamp(14px, 2vw, 18px);
  --font-size-sm: 0.8rem;
  --font-size-base: var(--step-0);
  --font-size-lg: var(--step-1);
  --font-size-xl: var(--step-2);
  --font-size-2xl: var(--step-3);
  --font-size-3xl: var(--step-4);
  --font-size-4xl: var(--step-5);
  --font-size-5xl: var(--step-6);
  --font-size-6xl: var(--step-7);
  --font-size-7xl: var(--step-8);
  --font-size-8xl: var(--step-9);
  --font-family: 'Inter', 'Helvetica Now Text', system-ui;
  --font-weight-normal: 400;
  --line-height-lg: 1.953;
  --line-height: 1.563;
  --line-height-sm: 1.25;
  --line-height-xs: 1;
  --line-height-xxs: 0.8;
  --headings-font-family: 'Inter Tight', 'Helvetica Now Display', system-ui;
  --headings-color: var(--text-color);
  --headings-font-weight: 800;
  --headings-letter-spacing: 0;
  --headings-margin-block-start: 0;
  --headings-margin-block-end: var(--space);
  --mono-font-family: 'IBM Plex Mono', 'Courier New', monospace;

  /**
  * Strokes
  */
  --stroke-inner-color: transparent;
  --stroke-width: 1px;
  --stroke-color: var(--text-color);

  /**
  * Media queries
  */
  --screen-small: 480px;
  --screen-medium: 764px;
  --screen-large: 1200px;
  --screen-extra-large: 1440px;

  /**
  * Animations
  */
  --animation-duration: 0.2s;
  --animation-timing-function: cubic-bezier(0.33, 0, 0.66, 1);

  /**
  * Spacing
  */
  --space: 1.563rem;
  --grid-gap-x: clamp(var(--space), 3.5vw, var(--space) * 2);
  --grid-gap-y: calc(var(--space) * 2);

  /**
  * Bottom navigation
  */
  --bottom-navigation-zindex: 100;

  /**
  * Table
  */
  --table-border-color: var(--grey-300);

  /**
  * Folio
  */
  --folio-title-size: var(--font-size-lg);
  --folio-title-weight: var(--headings-font-weight);
  --folio-title-line-height: var(--line-height-xs);
  --folio-title-margin: 0;

  /**
  * Detail page
  */
  --detail-title-size: var(--font-size-4xl);
  --detail-title-line-height: calc(1.125em - clamp(0em, 1cqi, 0.25em));

  /**
   * Text shadow
   */
  --text-shadow-outline-color: var(--background-color);
  --text-shadow-outline-width: 1.5px;
  --text-shadow-outline: calc(var(--text-shadow-outline-width) * -1) calc(var(--text-shadow-outline-width) * -1) 0
      var(--background-color),
    0 calc(var(--text-shadow-outline-width) * -1) 0 var(--background-color), 1px -1px 0 var(--background-color),
    calc(var(--text-shadow-outline-width) * 1) 0 0 var(--background-color),
    calc(var(--text-shadow-outline-width) * 1) calc(var(--text-shadow-outline-width) * 1) 0 var(--background-color),
    0 calc(var(--text-shadow-outline-width) * 1) 0 var(--background-color),
    calc(var(--text-shadow-outline-width) * -1) calc(var(--text-shadow-outline-width) * 1) 0 var(--background-color),
    calc(var(--text-shadow-outline-width) * -1) 0 0 var(--background-color);

  @media (prefers-color-scheme: dark) {
    --dark: rgb(231, 229, 228);
    --light: rgb(28, 25, 23);
    --grey: rgb(168, 162, 158);
    --grey-100: hsl(0deg, 0%, 12.5%);
    --grey-200: hsl(0deg, 0%, 15%);
    --grey-300: hsl(0deg, 0%, 25%);
    --astro-code-token-constant: rgb(121, 192, 255);
    --astro-code-token-string: rgb(165, 214, 255);
    --astro-code-token-comment: rgb(139, 148, 158);
    --astro-code-token-keyword: rgb(255, 123, 114);
    --astro-code-token-parameter: rgb(126, 231, 135);
    --astro-code-token-function: rgb(210, 168, 255);
    --astro-code-token-string-expression: rgb(165, 214, 255);
    --astro-code-token-punctuation: rgb(33, 33, 33);
    --astro-code-token-link: rgb(165, 214, 255);
  }

  @media (width >= 800px) {
    --folio-title-size: var(--font-size-6xl);
    --folio-title-margin: calc(var(--grid-gap-y) / 2) 0 calc(var(--grid-gap-y)) 0;
  }

  @media (width >= 800px) {
    --detail-title-size: var(--font-size-5xl);
  }
}
