:root {
  /**
  * Colors
  */
  --dark: hsl(24deg, 9%, 10%);
  --grey: hsl(25deg, 5%, 44%);
  --grey-300: hsl(25deg, 6%, 85%);
  --grey-200: hsl(20deg, 6%, 90%);
  --grey-100: hsl(60deg, 4%, 95%);
  --light: hsl(60deg, 9%, 97%);
  --primary: hsl(82deg, 78%, 55%);
  --primary-dark: hsl(85deg, 78%, 27%);
  --github: hsla(134deg, 62%, 51%, 1);
  --twitter: hsla(206deg, 89%, 59%, 1);
  --linkedin: hsla(201deg, 100%, 36%, 1);
  --youtube: hsl(0deg, 100%, 50%);
  --isaac: hsl(197deg, 100%, 50%);
  --text-color: var(--dark);
  --background-color: var(--light);

  /**
  * Fonts
  */
  --font-size-root: clamp(14px, 2.5vw, 18px);
  --font-size-sm: 0.8rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.563rem;
  --font-size-2xl: 1.953rem;
  --font-size-3xl: 2.441rem;
  --font-size-4xl: 3.052rem;
  --font-size-5xl: 3.815rem;
  --font-size-6xl: 4.768rem;
  --font-size-7xl: 5.96rem;
  --font-size-8xl: 7.451rem;
  --font-size-9xl: 9.313rem;
  --font-family: 'Inter', 'Helvetica Now Text', system-ui;
  --font-weight-normal: 400;
  --line-height-lg: 1.953;
  --line-height: 1.563;
  --line-height-sm: 1.25;
  --line-height-xs: 1;
  --line-height-xxs: 0.8;
  --headings-font-family: 'Inter', 'Helvetica Now Display', system-ui;
  --headings-color: var(--text-color);
  --headings-font-weight: 800;
  --headings-letter-spacing: -0.02em;
  --headings-margin-block-start: 0;
  --headings-margin-block-end: var(--space);
  --mono-font-family: 'IBM Plex Mono', 'Helvetica Now Text', system-ui;

  /**
  * Strokes
  */
  --stroke-inner-color: transparent;
  --stroke-width: 1px;
  --stroke-color: var(--text-color);

  /**
  * Media queries
  */
  --screen-small: 480px;
  --screen-medium: 764px;
  --screen-large: 1200px;
  --screen-extra-large: 1440px;

  /**
  * Animations
  */
  --animation-duration: 0.2s;
  --animation-timing-function: cubic-bezier(0.33, 0, 0.66, 1);

  /**
  * Spacing
  */
  --space: 1.563rem;
  --grid-gap-x: clamp(var(--space), 3.5vw ,var(--space) * 2);
  --grid-gap-y: calc(var(--space) * 2);

  /**
  * Bottom navigation
  */
  --bottom-navigation-zindex: 100;

  /**
  * Table
  */
  --table-border-color: var(--grey-300);

  /**
  * Folio
  */
  --folio-title-size: var(--font-size-lg);
  --folio-title-weight: var(--headings-font-weight);
  --folio-title-line-height: var(--line-height-xs);
  --folio-title-margin: 0;

  /**
  * Detail page
  */
  --detail-title-size: var(--font-size-4xl);
  --detail-title-font-weight: 800;
  --detail-title-line-height: var(--line-height-xs);
  --detail-title-letter-spacing: -0.02em;

  @media (prefers-color-scheme: dark) {
    --dark: rgb(231, 229, 228);
    --light: rgb(28, 25, 23);
    --grey: rgb(168, 162, 158);
    --grey-200: hsl(0deg, 0%, 15%);
    --grey-300: hsl(0deg, 0%, 25%);
  }
  @media (min-width: 800px) {
    --font-size-root: clamp(14px, 1.5vw, 18px);
  }

  @media (min-width: 800px) {
    --folio-title-size: var(--font-size-3xl);
    --folio-title-margin: 0 0 calc(var(--grid-gap-y) / 2) 0;
  }

  @media (min-width: 800px) {
    --detail-title-size: var(--font-size-5xl);
  }
}
