---
const yearNow = new Date().getFullYear();
---

<footer>
  <div class="container">
    <div class="copyright">&copy; {yearNow} Maarten Van Hoof</div>
    <div class="buildwith">
      Built with
      <a href="https://astro.build/" rel="noopener" target="_blank" class="external">Astro</a>. Hosted on
      <a href="https://www.vercel.co/" rel="noopener" target="_blank" class="external">Vercel</a>
      &
      <a href="https://www.cloudinary.com/" rel="noopener" target="_blank" class="external">Cloudinary</a>.
    </div>
    <div class="peace">
      <svg aria-label="Peace">
        <use href="#peace"></use>
      </svg>
    </div>
  </div>
</footer>

<style>
  footer {
    font-size: var(--font-size-sm);
    padding-top: var(--grid-gap-y);
    padding-bottom: var(--grid-gap-y);
    color: var(--grey);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (min-width: 800px) {
      display: grid;
      grid-template-columns: 5fr 6.9fr 1fr;
      gap: 0 var(--grid-gap-x);
      text-align: left;
    }
  }

  .peace {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-block-start: calc(var(--grid-gap-y) / 4);

    svg {
      height: 1rem;
    }

    @media (min-width: 800px) {
      margin-top: 0;
    }
  }
</style>
