---
const { offCanvas = false, page } = Astro.props;
const currentPage = (link) => {
  const url = new URL(Astro.request.url);
  if (link.href === '/') {
    return url.pathname === '/' || url.pathname.includes('activity');
  }

  return url.pathname.includes(link.href);
};

const links = [
  {
    key: 'home',
    href: '/',
    title: 'Topics',
  },
  {
    key: 'talks',
    href: '/talks',
    title: 'Talks',
  },
  {
    key: 'about',
    href: '/about',
    title: 'About',
  },
];
---

<nav id="nav" class="nav">
  {
    links.map((link) => (
      <a
        href={link.href}
        data-testid={`navigation-${link.key}`}
        data-swup-preload
        data-page-current={currentPage(link)}
      >
        {link.title}
      </a>
    ))
  }
</nav>

<style>
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    a {
      white-space: nowrap;
      text-decoration: none;
      font-weight: 700;
      padding: 0 0.33em;

      &[data-page-current],
      &:focus,
      &:hover {
        background-color: var(--text-color);
        color: var(--background-color);
      }
    }

    @media (min-width: 800px) {
      gap: calc(var(--grid-gap-x) / 3);
    }
  }
</style>
