---
type NavLink = {
  key: string;
  href: string;
  title: string;
};

const currentPage = (link: NavLink) => {
  const url = new URL(Astro.request.url);
  if (link.href === '/') {
    return url.pathname === '/' || url.pathname.includes('topics');
  }
  return url.pathname.startsWith(link.href);
};

const links: NavLink[] = [
  {
    key: 'home',
    href: '/',
    title: 'Topics',
  },
  {
    key: 'articles',
    href: '/articles',
    title: 'Articles',
  },
  {
    key: 'events',
    href: '/events',
    title: 'Events',
  },
  {
    key: 'about',
    href: '/about',
    title: 'About',
  },
];
---

<nav id="nav" class="nav" style={`view-transition-name: nav`}>
  {
    links.map((link) => (
      <a
        href={link.href}
        data-testid={`navigation-${link.key}`}
        data-swup-preload
        data-page-current={currentPage(link)}
      >
        {link.title}
      </a>
    ))
  }
</nav>

<style>
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    a {
      font-family: var(--headings-font-family);
      font-weight: var(--headings-font-weight);
      white-space: nowrap;
      text-decoration: none;
      padding: 0 0.33em;

      &[data-page-current],
      &:focus,
      &:hover {
        background-color: var(--text-color);
        color: var(--background-color);
      }
    }

    @media (min-width: 800px) {
      gap: calc(var(--grid-gap-x) / 2);
    }
  }
</style>
