---
import { orderBy } from 'lodash-es';
import { format } from 'date-fns';
import BaseLayout from '../layouts/Base.astro';
import Intro from '../components/Page/Intro.astro';
import List from '../components/List/List.astro';

const dateNow = format(new Date(), 'yyyyMMdd');
const data = await Astro.glob('./{talks,activity,publications}/*.mdx').then((files) =>
  files.map(({ frontmatter, ...data }) => ({
    ...data,
    ...frontmatter,
  })),
);

const events = orderBy(data, ['datePublished'], ['desc']);
const publishedEvents = events.filter(({ datePublished }) => datePublished <= dateNow);
---

<BaseLayout {...Astro.props}>
  <Intro />
  <section class="events">
    <div class="container">
      <List items={publishedEvents} />
    </div>
  </section>
</BaseLayout>

<style>
  .events {
    padding-block-start: clamp(calc(var(--grid-gap-y) * 1), 9vw, calc(var(--grid-gap-y) * 2));
  }
</style>
