---
import { orderBy } from 'lodash-es';
import { format } from 'date-fns';
import BaseLayout from '../layouts/Base.astro';
import Intro from '../components/Page/Intro.astro';
import List from '../components/List/List.astro';
import UpcomingTalks from '../components/UpcomingTalks.astro';

const data = await Astro.glob('./topics/*.mdx').then((files) =>
  files.map(({ frontmatter, ...data }) => ({
    ...data,
    ...frontmatter,
  })),
);

const topics = orderBy(data, ['datePublished'], ['desc']);
---

<BaseLayout {...Astro.props}>
  <Intro />
  <section class="events">
    <div class="container">
      <!-- <UpcomingTalks items={unpublishedTalks} /> -->
      <List items={topics} />
    </div>
  </section>
</BaseLayout>

<style>
  .events {
    padding-block-start: clamp(calc(var(--grid-gap-y) * 1), 9vw, calc(var(--grid-gap-y) * 2));
  }
</style>
