---
import { orderBy } from 'lodash-es';
import BaseLayout from '../layouts/Base.astro';
import Intro from '../components/Page/Intro.astro';
import List from '../components/List/List.astro';

const data = Astro.fetchContent('./{talks,activity,publications}/*.md');
const events = orderBy(data, ['datePublished'], ['desc']);
---

<BaseLayout {...Astro.props}>
  <Intro />
  <section class="events">
    <div class="container">
      <List items={events} />
    </div>
  </section>
</BaseLayout>

<style>
.events {
  padding-block-start: var(--grid-gap-y);
}
</style>
