<svg xmlns="http://www.w3.org/2000/svg">
  <symbol viewBox="0 0 16 16" id="email">
    <path
      fill="currentColor"
      d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414L.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"
    ></path>
  </symbol>
  <symbol id="gitHub" viewBox="0 0 17 16">
    <title>GitHub</title>
    <path
      d="M15.301 4.084A8.165 8.165 0 0 0 12.317 1.1 8.021 8.021 0 0 0 8.2 0C6.713 0 5.34.367 4.084 1.1A8.164 8.164 0 0 0 1.1 4.084 8.022 8.022 0 0 0 0 8.2c0 1.787.521 3.394 1.564 4.821 1.043 1.428 2.39 2.415 4.042 2.963.192.036.334.01.427-.074a.417.417 0 0 0 .139-.32l-.006-.577c-.003-.363-.005-.68-.005-.95l-.246.042c-.156.029-.354.041-.592.038a4.529 4.529 0 0 1-.742-.075 1.658 1.658 0 0 1-.716-.32 1.355 1.355 0 0 1-.47-.657l-.106-.246a2.668 2.668 0 0 0-.337-.544c-.153-.2-.308-.335-.464-.406l-.075-.053a.788.788 0 0 1-.139-.129.586.586 0 0 1-.096-.149c-.021-.05-.003-.09.054-.123.057-.032.16-.048.31-.048l.213.032c.142.029.318.114.528.256.21.143.383.328.518.555.164.292.361.515.593.668.231.153.464.23.7.23.234 0 .437-.018.608-.054.17-.035.33-.089.48-.16.064-.477.239-.844.523-1.1a7.305 7.305 0 0 1-1.094-.192 4.358 4.358 0 0 1-1.004-.417 2.874 2.874 0 0 1-.86-.715c-.227-.285-.414-.659-.56-1.121-.146-.463-.219-.997-.219-1.602 0-.861.282-1.595.844-2.2-.264-.647-.239-1.373.075-2.178.206-.064.512-.016.918.144.406.16.703.298.891.411.19.114.34.21.454.289A7.582 7.582 0 0 1 8.2 3.96c.705 0 1.389.093 2.05.278l.406-.256c.278-.171.606-.328.983-.47.377-.143.666-.182.865-.118.32.805.349 1.53.085 2.178.562.606.844 1.339.844 2.2 0 .605-.073 1.14-.22 1.607-.145.466-.333.84-.565 1.121-.231.282-.52.518-.865.71-.345.192-.68.331-1.004.417-.324.085-.688.15-1.094.192.37.32.555.826.555 1.516v2.253c0 .128.044.235.134.32.089.086.23.11.421.075 1.652-.548 3-1.536 4.042-2.963 1.043-1.427 1.564-3.034 1.564-4.821 0-1.487-.367-2.86-1.1-4.116z"
    ></path>
  </symbol>
  <symbol id="linkedIn" viewBox="0 0 382 382">
    <title>LinkedIn</title>
    <path
      d="M347.445 0H34.555C15.471 0 0 15.471 0 34.555v312.889C0 366.529 15.471 382 34.555 382h312.889C366.529 382 382 366.529 382 347.444V34.555C382 15.471 366.529 0 347.445 0zM118.207 329.844c0 5.554-4.502 10.056-10.056 10.056H65.345c-5.554 0-10.056-4.502-10.056-10.056V150.403c0-5.554 4.502-10.056 10.056-10.056h42.806c5.554 0 10.056 4.502 10.056 10.056v179.441zM86.748 123.432c-22.459 0-40.666-18.207-40.666-40.666S64.289 42.1 86.748 42.1s40.666 18.207 40.666 40.666-18.206 40.666-40.666 40.666zM341.91 330.654a9.247 9.247 0 0 1-9.246 9.246H286.73a9.247 9.247 0 0 1-9.246-9.246v-84.168c0-12.556 3.683-55.021-32.813-55.021-28.309 0-34.051 29.066-35.204 42.11v97.079a9.246 9.246 0 0 1-9.246 9.246h-44.426a9.247 9.247 0 0 1-9.246-9.246V149.593a9.247 9.247 0 0 1 9.246-9.246h44.426a9.247 9.247 0 0 1 9.246 9.246v15.655c10.497-15.753 26.097-27.912 59.312-27.912 73.552 0 73.131 68.716 73.131 106.472v86.846z"
    ></path>
  </symbol>
  <symbol id="peace" viewBox="0 0 512 512">
    <path
      d="M256 0C114.615 0 0 114.615 0 256s114.615 256 256 256 256-114.615 256-256S397.385 0 256 0zm192.266 256c0 28.047-6.04 54.708-16.882 78.757l-143.517-95.895V66.39C378.769 81.619 448.266 160.839 448.266 256zM224.133 66.39v172.472L80.616 334.757C69.774 310.708 63.734 284.047 63.734 256c0-95.161 69.497-174.381 160.399-189.61zM116.076 387.716l108.056-72.201V445.61c-42.255-7.079-79.882-27.982-108.056-57.894zm171.791 57.894V315.515l108.056 72.201c-28.173 29.912-65.8 50.815-108.056 57.894z"
    ></path>
  </symbol>
  <symbol viewBox="0 0 24 24" id="mastodon">
    <path
      fill="currentColor"
      d="M20.94 14c-.28 1.41-2.44 2.96-4.97 3.26c-1.31.15-2.6.3-3.97.24c-2.25-.11-4-.54-4-.54v.62c.32 2.22 2.22 2.35 4.03 2.42c1.82.05 3.44-.46 3.44-.46l.08 1.65s-1.28.68-3.55.81c-1.25.07-2.81-.03-4.62-.5c-3.92-1.05-4.6-5.24-4.7-9.5l-.01-3.43c0-4.34 2.83-5.61 2.83-5.61C6.95 2.3 9.41 2 11.97 2h.06c2.56 0 5.02.3 6.47.96c0 0 2.83 1.27 2.83 5.61c0 0 .04 3.21-.39 5.43M18 8.91c0-1.08-.3-1.91-.85-2.56c-.56-.63-1.3-.96-2.23-.96c-1.06 0-1.87.41-2.42 1.23l-.5.88l-.5-.88c-.56-.82-1.36-1.23-2.43-1.23c-.92 0-1.66.33-2.23.96C6.29 7 6 7.83 6 8.91v5.26h2.1V9.06c0-1.06.45-1.62 1.36-1.62c1 0 1.5.65 1.5 1.93v2.79h2.07V9.37c0-1.28.5-1.93 1.51-1.93c.9 0 1.35.56 1.35 1.62v5.11H18V8.91Z"
    ></path>
  </symbol>
  <symbol id="youtube" viewBox="0 0 28 20">
    <path
      d="M11.3333 14.0001L18.2533 10.0001L11.3333 6.00008V14.0001ZM26.7467 3.56008C26.92 4.18675 27.04 5.02675 27.12 6.09341C27.2133 7.16008 27.2533 8.08008 27.2533 8.88008L27.3333 10.0001C27.3333 12.9201 27.12 15.0667 26.7467 16.4401C26.4133 17.6401 25.64 18.4134 24.44 18.7467C23.8133 18.9201 22.6667 19.0401 20.9067 19.1201C19.1733 19.2134 17.5867 19.2534 16.12 19.2534L14 19.3334C8.41332 19.3334 4.93332 19.1201 3.55999 18.7467C2.35999 18.4134 1.58666 17.6401 1.25332 16.4401C1.07999 15.8134 0.95999 14.9734 0.87999 13.9067C0.786657 12.8401 0.746656 11.9201 0.746656 11.1201L0.666656 10.0001C0.666656 7.08008 0.87999 4.93341 1.25332 3.56008C1.58666 2.36008 2.35999 1.58675 3.55999 1.25341C4.18666 1.08008 5.33332 0.960081 7.09332 0.880081C8.82666 0.786748 10.4133 0.746748 11.88 0.746748L14 0.666748C19.5867 0.666748 23.0667 0.880081 24.44 1.25341C25.64 1.58675 26.4133 2.36008 26.7467 3.56008V3.56008Z"
    ></path>
  </symbol>
  <symbol id="external-link" viewBox="0 0 24 24">
    <path
      fill="currentColor"
      d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v9l-3.794-3.793l-5.999 6l-1.414-1.414l5.999-6L12 3h9z"
    ></path>
  </symbol>
  <symbol id="play" viewBox="0 0 24 24">
    <path
      fill="currentColor"
      d="m10 16.5l6-4.5l-6-4.5zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8z"
    ></path>
  </symbol>
  <symbol viewBox="0 0 16 16" id="codepen">
    <title>CodePen</title>
    <path
      fill="currentColor"
      d="m14.777 5.751l-7-4.667a.5.5 0 0 0-.555 0l-7 4.667a.501.501 0 0 0-.223.416v4.667c0 .167.084.323.223.416l7 4.667a.5.5 0 0 0 .554 0l7-4.667a.501.501 0 0 0 .223-.416V6.167a.501.501 0 0 0-.223-.416zM7.5 10.232L4.901 8.5L7.5 6.768L10.099 8.5L7.5 10.232zM8 5.899V2.434l5.599 3.732L11 7.898l-3-2zm-1 0l-3 2l-2.599-1.732L7 2.435V5.9zM3.099 8.5L1 9.899V7.101L3.099 8.5zM4 9.101l3 2v3.465l-5.599-3.732L4 9.102zm4 2l3-2l2.599 1.732L8 14.565V11.1zM11.901 8.5L14 7.101v2.798L11.901 8.5z"
    ></path>
  </symbol>
</svg>
