---
import { orderBy } from 'lodash-es'
import BaseLayout from '../../layouts/Base.astro';
import Section from "../../components/Page/Section.astro";
import List from "../../components/List/List.astro";

const allProjects = Astro.fetchContent('./*.md');
const allProjectsOrdered = orderBy(allProjects, ['datePublished'], ['desc']);
const currentProjects = allProjectsOrdered.filter(({ current }) => current);
const previousProjects = allProjectsOrdered.filter(({ current }) => !current);
---

<BaseLayout { ...Astro.props }>
	<head>
		<title>Projects</title>
		<meta name="description" content="A selection of my current and previous projects. Work, musical and open source experiences" />
	</head>
	<Section title="Current" titleSmall="projects">
		<List items={currentProjects} class="projects" />
	</Section>
	<Section title="Previous" titleSmall="projects">
		<List items={previousProjects} class="projects" />
	</Section>
</BaseLayout>
