---
import clsx from 'clsx';

const { title, titleTag = 'h1', showTitle = false } = Astro.props;
const Title = titleTag;
---

<div class="container">
  <Title class={clsx('title', { 'title-hidden': showTitle })}>{title}</Title>
  <slot />
</div>

<style>
  .container {
    position: relative;
  }

  .title {
    font-size: var(--folio-title-size);
    font-weight: var(--folio-title-weight);
    line-height: var(--folio-title-line-height);
    margin: var(--folio-title-margin);
    inset-inline-end: var(--grid-gap-x);
    inset-block-start: calc(var(--folio-title-line-height) * -4rem);

    &.title-hidden {
      @media (min-width: 800px) {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
      }
    }

    @media (max-width: 799px) {
      position: absolute;
    }
  }
</style>
