<section class="intro">
  <div class="container">
    <span class="no-break">Developer Advocate</span>
    <span class="no-break">&</span>
    <span class="no-break">Front-end</span>
    <span class="no-break">at <a href="/activity/io/" data-swup>iO</a>.</span>
  </div>
</section>

<style>
  .intro {
    font-size: var(--font-size-xl);
    text-align: center;

    @media (min-width: 800px) {
      text-align: left;
      padding-block: calc(var(--grid-gap-y) * 1);
      background: var(--grey-200);
    }
  }

  .no-break {
    white-space: nowrap;
  }
</style>
