html {
	font-size: var(--font-size-root);
}

body {
	font-size: 1rem; /* stylelint-disable-line */
	font-family: var(--font-family);
	color: var(--dark);
	background: var(--light);
	margin: 0;
	padding: 0;
	line-height: var(--line-height);
}

svg {
	fill: currentColor;
}

figure {
	margin: 0;
}

.clear-inner-spacing {
	> *:first-child { margin-top: 0 !important; }
	> *:last-child { margin-top: 0 !important; }
}
