@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--flow-content ul, ol, p, address;

:--flow-content,
:--headings {
	margin: 0;
	margin-bottom: var(--space);
	page-break-inside: avoid;
	break-inside: avoid;
}

:--headings {
	font-weight: var(--headings-font-weight);
	line-height: var(--line-height-sm);
}

h1 {
	font-size: var(--font-size-4xl);
}
h2 {
	font-size: var(--font-size-3xl);
}
h3 {
	font-size: var(--font-size-2xl);
}
h4 {
	font-size: var(--font-size-xl);
}
h5 {
	font-size: var(--font-size-lg);
}
h6 {
	font-size: var(--font-size-base);
}

.outline {
	color: var(--stroke-inner-color);
	-webkit-text-stroke: var(--stroke-width) var(--stroke-color);
}

.intro {
	font-size: var(--font-size-lg);
	line-height: var(--line-height-sm);
	font-weight: 700;

	@media (min-width: 800px) {
		font-size: var(--font-size-xl);
	}
}

.list-unstyled {
	list-style: none;
	padding: 0;
}

.whitespace-nowrap {
	white-space: nowrap;
}

