.mb-4 {
	/* margin-bottom: calc(var(--space) * 4); */
	margin-bottom: var(--grid-space-y);
}

.clear-inner-spacing {
	> *:first-child { margin-top: 0 !important; }
	> *:last-child { margin-top: 0 !important; }
}

.media {
	padding-bottom: 56.25%;
	box-shadow: inset 0 0 0 1px var(--dark);
	position: relative;
	overflow: hidden;
	margin-bottom: calc(var(--space) * 4);
}

.whitespace-nowrap {
	white-space: nowrap;
}
