/* stylelint-disable no-duplicate-selectors */

:root {
	/**
	* Colors
	*/
	--dark: hsla(0, 0%, 0%, 1);
	--grey: hsla(0, 0%, 50%, 1);
	--grey-light: hsla(0, 0%, 90%, 1);
	--light: hsla(0, 0%, 100%, 1);
	--primary: hsla(85, 100%, 50%, 1);
	--primary-dark: hsla(85, 100%, 20%, 1);
	--github: hsla(134, 62%, 51%, 1);
	--twitter: hsla(206, 89%, 59%, 1);

	/**
	* Fonts
	*/
	--font-size-root: 14px;
	--font-size-sm: 0.8rem;
	--font-size-base: 1rem;
	--font-size-lg: 1.25rem;
	--font-size-xl: 1.563rem;
	--font-size-2xl: 1.953rem;
	--font-size-3xl: 2.441rem;
	--font-size-4xl: 3.052rem;
	--font-family: "Helvetica Now Text";
	--line-height: 1.5;
	--headings-font-family: "Helvetica Now Display";
	--headings-color: var(--dark);
	--headings-font-weight: 900;

	/**
	* Strokes
	*/
	--stroke-width: 1px;
	--stroke-color: var(--dark);

	/**
	* Media queries
	*/
	--screen-small: 480px;
	--screen-medium: 764px;
	--screen-large: 1200px;
	--screen-extra-large: 1440px;

	/**
	* Animations
	*/
	--animation-timing-function: cubic-bezier(0.75, -0.5, 0.25, 1.5);
}

/**
* Spacing
*/
:root {
	--space: 1rem;
	--grid-gap: calc(var(--space) / 2);

	@media (min-width: 700px) {
		--grid-gap: calc(var(--space));
	}
	@media (min-width: 1200px) {
		--grid-gap: calc(var(--space) * 2);
	}
}
