---
import Seo from '../components/Seo.astro';
import Header from '../components/App/Header.astro';
import Footer from '../components/App/Footer.astro';
import SvgSprite from '../components/SvgSprite.astro';
import { getSrcSet } from '../components/Image/cloudinary';

const isProd = process.env.NODE_ENV === 'production';
const { content } = Astro.props;

let src = '';
let srcSet = '';
let srcSetWebp = '';

if (content?.thumbnail) {
  src = getSrcSet({ src: content.thumbnail }).src;
  srcSet = getSrcSet({ src: content.thumbnail }).srcSet;
  srcSetWebp = getSrcSet({ src: content.thumbnail, type: 'webp' }).srcSet;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta httpequiv="Accept-CH" content="DPR, Viewport-Width, Width" />
    <meta name="apple-mobile-web-app-title" content="mrtnvh" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#95FF00" />
    <link rel="preload" href="https://rsms.me/inter/inter.css" as="style" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    {content?.thumbnail && (
			<link rel="preload" as="image" href={src} imagesrcset={srcSetWebp} imagesizes="66vw" type="image/webp" />
			<link rel="preload" as="image" href={src} imagesrcset={srcSet} imagesizes="66vw" />
		)}

    {isProd &&
      `
			<script>
				if ('serviceWorker' in navigator) {
					window.addEventListener('load', () => {
						navigator.serviceWorker.register('/sw.js');
					});
				}
			</script>
		`}
  </head>
  <Seo {...Astro.props} />
  <body>
    <div class="svg-sprite">
      <SvgSprite />
    </div>
    <div class="layout">
      <Header />
      <main id="swup" class="transition-fade">
        <slot />
      </main>
      <Footer />
    </div>
    <script type="module" async src={Astro.resolve('../js/main.js')}></script>
    {isProd && (
      <script>
        const statsScript = document.createElement( 'script' );
        statsScript.setAttribute( 'src', '/js/stats' );
        statsScript.setAttribute( 'defer', true ); statsScript.setAttribute(
        'data-domain', 'mrtnvh.com' ); document.body.appendChild( statsScript );
      </script>
    )}
  </body>
</html>

<style global>
  @import '../styles/app.css';

  .svg-sprite {
    display: none;
  }

  .layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  main {
    display: flex !important;
    flex-direction: column;
  }

  main,
  .portal {
    flex-grow: 1;
  }

  .portal {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:empty {
      display: none;
    }
  }
</style>
