---
import Seo from '../components/Seo.astro';
import Header from '../components/App/Header.astro';
import Footer from '../components/App/Footer.astro';
import SvgSprite from '../components/SvgSprite.astro';

const isProd = import.meta.env.PROD;
const isMaster = import.meta.env.VITE_PROD === 'true';
const { content, preloads } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta httpequiv="Accept-CH" content="DPR, Viewport-Width, Width" />
    <meta name="apple-mobile-web-app-title" content="mrtnvh" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#95FF00" />
    <link rel="preload" href={Astro.resolve('../styles/app.css')} as="style" />
    <link rel="stylesheet" href={Astro.resolve('../styles/app.css')} />

    {preloads && preloads.map((preload) => <link {...preload} />)}

    {isProd && (
			<script>
				if ('serviceWorker' in navigator) {
					window.addEventListener('load', () => {
						navigator.serviceWorker.register('/sw.js');
					});
				}
			</script>
		)}

    {content?.redirect && <meta http-equiv="refresh" content={`0;URL='${content.redirect}'`} />}
  </head>
  <Seo {...Astro.props} />
  <body>
    <div class="svg-sprite">
      <SvgSprite />
    </div>
    <div class="layout">
      {content?.redirect ? (<main class="centered" data-testid="redirect">Redirecting to {content.redirect}</main>) : (
      <Header />
      <main id="swup" class="transition-fade">
        <slot />
      </main>
      <Footer />
    ) }
    </div>
    <script type="module" async src={Astro.resolve('../js/main.js')}></script>
    {isMaster && (
      <script>
        const statsScript = document.createElement( 'script' ); statsScript.setAttribute( 'src', '/js/stats' );
        statsScript.setAttribute( 'defer', true ); statsScript.setAttribute( 'data-domain', 'mrtnvh.com' );
        document.body.appendChild( statsScript );
      </script>
    )}
  </body>
</html>

<style>
  .svg-sprite {
    display: none;
  }

  .layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-block-end: calc(var(--space) * 2);

    @media (min-width: 800px) {
      padding-block-end: 0;
    }
  }

  main {
    display: flex !important;
    flex-direction: column;
    padding-block-end: calc(var(--space) * 1);
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main,
  .portal {
    flex-grow: 1;
  }

  .portal {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:empty {
      display: none;
    }
  }
</style>
