---
import BaseLayout from './Base.astro';
const { content } = Astro.props;
---

<BaseLayout {...Astro.props}>
  <article id="default" class="container">
    <header>
      <div class="sticky">
        <h1 class="title outline">{content.title}</h1>
        <div class="subtitle">{content.subtitle || content.description}</div>
      </div>
    </header>
    <div class="body">
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  .container {
    padding-top: var(--grid-gap-y);
    padding-bottom: var(--grid-gap-y);
    display: flex;
    flex-direction: column;
  }
</style>
