---
import BaseLayout from './Base.astro';
---

<BaseLayout {...Astro.props}>
  <div class="container">
    <h1>{Astro.props.title}</h1>
  </div>
</BaseLayout>

<style>
  .container {
    padding-top: var(--grid-gap-y);
    padding-bottom: var(--grid-gap-y);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    @media (width <= 800px) {
      align-items: center;
    }
  }

  h1 {
    font-size: var(--detail-title-size);
    text-transform: uppercase;
    line-height: 0.75em;
    display: inline-block;
  }
</style>
