<footer class="footer container">
  <div class="footer__copyright">&copy; {% yearNow %} Maarten Van Hoof</div>
  <div class="footer__buildwith">
      Build with
      <a href="https://www.11ty.dev" rel="noopener" target="_blank">Eleventy</a>.
      Hosted on
      <a href="https://www.vercel.co/" rel="noopener" target="_blank">Vercel</a>
      &
      <a href="https://www.cloudinary.com/" rel="noopener" target="_blank"
        >Cloudinary</a
      >.
    </div>
  <div class="footer__peace">{% peace %}</div>
</footer>
