<nav class="social">
  <button id="email" class="reset link">
    {% email %}
  </button>
  <a class="github" href="https://github.com/vanhoofmaarten/" target="_blank" rel="noopener">
    {% github %}
  </a>
  <a class="twitter" href="https://twitter.com/mrtnvh/" target="_blank" rel="noopener">
    {% twitter %}
  </a>
  <a class="linkedin" href="https://linkedin.com/in/mrtnvh/" target="_blank" rel="noopener">
    {% linkedin %}
  </a>
</nav>
